@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 12px;
    --font-size: 1rem;
    --font-size-md: calc(var(--font-size) * 1);
}

html {
    width: 800px;
    height: 600px;
}

body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}