html {
    font-size: 12px;
}

body {
    line-height: normal;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
    height: 100%;
    width: 100%;
}